---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getCollection } from 'astro:content';

const docs = await getCollection('docs');
const docsList = docs.map(doc => ({
  slug: doc.slug,
  title: doc.data.title,
  description: doc.data.description
}));

---

<Layout title="Articles about AI">
  <main class="min-h-screen bg-dark-100">
    <div class="container mx-auto px-4 py-16">
      {docsList.length > 0 ? (
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
          {docsList.map(doc => (
            <Card
              href={`/docs/${doc.slug}`}
              title={doc.title}
              description={doc.description}
            />
          ))}
        </div>
      ) : (
        <p>No documents found.</p>
      )}
    </div>
  </main>
</Layout>